<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}Bookmarks Manager</title>
    <meta name="description" content="A web based bookmark manager.">
    <meta name="author" content="Nimdaz">
    <meta property="og:title" content="Bookmarks Manager">
    <meta property="og:type" content="website">
    <!-- <meta property="og:url" content="https://www.example.org/"> -->
    <meta property="og:description" content="A web based bookmarks manager.">
    <!-- <meta property="og:image" content="image.png"> -->
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml"> -->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png">     -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}?v=0.1.0">
</head>

<body>
    {% block body %} {% endblock %}
    <script src="{{url_for('.static', filename='scripts.js')}}?v=0.1.0"></script>
</body>

</html>